<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel-group">
        <div class="panel panel-green">
          <div class="panel-heading">Pending Tasks (<strong>{{ itemCount }}</strong>)</div>
          <div class="panel-body">
            <div class="alert alert-success" *ngIf="showNoTask">
              <strong>Hi there!</strong> no pending tasks for today. To make a list, add some notes
            </div>
            <div class="alert alert-info" *ngIf="showTaskExists">
              To <strong>delete</strong> a task, just <strong> click</strong> on the finished task ;)
            </div>
                  <!--  

            <div class="container color-light" [@goals]="goals.length">
              <div class="col">
                <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
                  {{currentDate | date:'MM-dd-yyyy'}}: {{goal}}
                </p>
              </div> 
                   -->

                   <div class="panel panel-success" id = "dataPanel">
                    <div class="panel-heading">{{currentDate | date:'MM-dd-yyyy'}}</div>
                    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
                    <div class="panel-body" [@goals]="goals.length">
                      <p *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">{{goal}}</p>
                    </div>
                  </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Add a To-Do-List Note</div>
        <div class="panel-body center-block">
          <div class="panel-content text-center">
            <div class="alert alert-info">
              <strong>use this form to add a new Note to the list</strong>
            </div>
            <form class="text-center">
              <input type="text" class="txt" name="item" value="" placeholder="My list for today..." [(ngModel)]="goalText" />
              <br>
              <input type="submit" class="btn" [value]="btnText" (click)="addItem()" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>click <a (click)="removeAll()">Here</a> to delete all data</p>
</div>

<!-- <div class="container color-dark">
  
    <div class="col">
      <p>Pending Tasks({{ itemCount }})</p>
    </div>
<div class="col">
    <p>Add a To-Do List Note</p>
  </div> 
  </div>
   
  <div class="container color-light" [@goals]="goals.length">
    <div class="col">
      <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{currentDate | date:'MM-dd-yyyy'}}: {{goal}}
      </p>
    </div> 

    <div class="col">
      <p class="sm">use this form to add a new Note to the list</p>
      <form>
        <input type="text" class="txt" name="item" value="" placeholder="Life goal..." [(ngModel)]="goalText"/>
        <input type="submit" class="btn" [value]="btnText" (click)="addItem()" />
      </form>
    </div>
</div> -->


<!-- <div class="panel panel-primary">
  <div class = "row">
    <div class="col">

      <div class="panel-heading">
        <p>Pending Tasks({{ itemCount }})</p>
      </div>

      <div class="panel-body">
      <div class="alert alert-info">
        <p>To delete a task, just click on the finished task ;)</p>
      </div>
      <div class="panel-heading" style="background-color:rgb(146, 224, 207);">{{currentDate | date:'MM-dd-yyyy'}}</div>
        <div class="panel-body">
        <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{goal}}
        </p>
      </div>
</div>

    </div>
    <div class="col">
      <div class="panel-heading alert alert-info">
        <p>Add a To-Do-List Note</p>
      </div>
      <div class="panel-body">
        <form>
          <input type="text" class="txt" name="item" value="" placeholder="Life goal..." [(ngModel)]="goalText"/>
          <input type="submit" class="btn" [value]="btnText" (click)="addItem()" />
        </form>
      </div>

    </div>
  </div>
</div> -->