.panel{
  font-size: 1.3em;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}

.col{
  padding:.4em 1.3em;
  gap: 50%;
}

.panel-green{
  background-color: #80b7e4; 
}

input.txt{
  border: 1px solid #d7dadf;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em; }

input.btn{
  border: 0;
  padding: 1em 3em;
  background: #42A5F5;
  color: #fff;
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer; }

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #42A5F5;
  color: white;
  text-align: center; 
  font-size: 1.3em;}
/* 
.container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  
  .col{
    padding:.4em 1.3em;
    gap: 50%;
  }
  
  .color-dark{
    background:#2885C4;
  }
  
  .color-light{
    background:#57D3F1;
  }
  
  input.txt{
    border: 1px solid #d7dadf;
    padding:1em;
    width:80%;
    margin-bottom:2em;
  }
  
  input.btn{
    border:0;
    padding:1em 3em;
    background:#42A5F5;
    color:#fff;
    margin-bottom:1em;
    text-align: center;
    cursor:pointer;
  }
  
  .life-container{
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
  }

/*   .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
} 

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.panel-body {
  padding: 15px;
}

.panel-success>.panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
 */
 .color-light{
  background:#57D3F1;
}